assignment 7: a=['candy','brain','damu','sujoy'] b=[90,95,60,79]

In [ ]:
a=['candy','brain','damu','sujoy']
b=[90,95,60,79]
for i in range(4):
    a[i]==b[i]
    i=i+1

a.sort()
b.sort(reverse=True)
print(a)
print(b)

In [170]:
a=['candy ','brain ','damu ','sujoy ']
b=[ 90,95,60,79]
a.sort()
b.sort(reverse=True)
for i in range(0,4,1):
    c= a[i] + b[i]
    print(c)

TypeError: can only concatenate str (not "int") to str

In [59]:
group(y='candy',z='brain',c='brain',d='sujoy')

candy
brain
brain
sujoy

In [40]:

b.sort(reverse=True)
print(a)
print(b)

['candy', 'brain', 'damu', 'sujoy']
[95, 90, 79, 60]

In [43]:
mul=lambda a,b,c:a*b*c

In [45]:
mul(2,3,5)

30

In [165]:
user={
    "shravan":"06092000",
    "nikki":"555",
    "shaz":"333"
}
def show(username,password):
    if username in user and user[username]==password:
        print("welcome to website")
    else:
        print("not autheticated person ")
a=input("enter user name ")


b=input("enter password ")
show(a,b)

enter user name nikki
enter password 588
not autheticated person

In [103]:
print("helloworld updated")

helloworld updated

In [104]:
hex(10)

'0xa'

In [105]:
oct(10)

'0o12'

In [111]:
id()

2305656422512

In [137]:
def  routine (p,q,r,*s, **kwargs) :
    print(p)
    print(q)
    print(r)
    print(s)
    print(kwargs)
routine( "wake up" , "breakfast" , "TV" , "Sherlock" , "The Big BangTheory" ,"How I met your Mother" , 
        key2="reading" ,key3="coding", work="coding" )

wake up
breakfast
TV
('Sherlock', 'The Big BangTheory', 'How I met your Mother')
{'key2': 'reading', 'key3': 'coding', 'work': 'coding'}

In [130]:
def  routine (p,q,r,*s,d= "coding" , e= "reading" ) :
    print(p)
    print(q)
    print(r)
    print(s)
    print(d)
    print(e)
routine( "wake up" , "breakfast" , "TV" , "Sherlock" , "The Big BangTheory" ,  "How I met your Mother" , 
        d=  "reading" ,e= "coding" )

wake up
breakfast
TV
('Sherlock', 'The Big BangTheory', 'How I met your Mother')
reading
coding

In [140]:
#Assignment 3 : self study 
a='Robin age 45 salary 1 Lakh . Rahul age 46 salary 2 Lakh . Ramya age 39 salary 1.5 Lakh'
c=a.split()
b=['Rahul']

for g in b:  
    for j,i in enumerate(c):

        flag=0
        if i==g :
            print (g,end=' ')
            for j,f in enumerate(c):

                if f!=g  and flag==0:
                    
                    continue
                else :
                    flag=1
                    
                if f=='.' and i==g:
                     break

                if f=='age' and flag==1 :
                    print (c[j+1],end=' ')

                if f=='salary' and flag==1 :
                        print (c[j+1])

Rahul 46 2

In [139]:
a='Robin age 45 salary 1 Lakh . Rahul age 46 salary 2 Lakh . Ramya age 39 salary 1.5 Lakh'
c=a.split()
b=['Rahul']
print(c)
print(b)

['Robin', 'age', '45', 'salary', '1', 'Lakh', '.', 'Rahul', 'age', '46', 'salary', '2', 'Lakh', '.', 'Ramya', 'age', '39', 'salary', '1.5', 'Lakh']
['Rahul']

In [163]:
a= 'Ramesh is 18 year rameshwaram . raMeSh works in ISRO . I think ramesH stays in Bangalore '
sentence=a.split('.')
for i in sentence:
     print (i.strip().capitalize()+". ",end='')

Ramesh is 18 year rameshwaram. Ramesh works in isro. I think ramesh stays in bangalore.